@charset "UTF-8";
/*Colores para los botones*/
/*Colores del background*/
/*Color de texto botones*/
/*Desktop Font Styles*/
/*Desktop Font Mobil*/
/*Tamaño de los botones*/
/*Border radius botón*/
/*Posiciones*/
/*Justificación de texto*/
/*Tamaño de texto*/
* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

/*Font sizes: 1: 14px, 2:16px*/
/*Botón tipo 1*/
/*Botón tipo 4*/
/*Justificar texto al centro, tanto en x como en y*/
.header__container {
  width: 320px;
}

.header__container-item-P {
  position: absolute;
  height: 31.79px;
  width: 39.41px;
  left: 15px;
  top: 32px;
  border-radius: 0px;
}

.header__container-item-carrito-negro {
  background-color: white;
  position: absolute;
  height: 22px;
  width: 21px;
  left: 280px;
  top: 32px;
  border-radius: 0px;
}

.header__container-item-description {
  position: absolute;
  height: 19px;
  width: 176px;
  top: 139px;
  left: 72px;
  border-radius: nullpx;
  color: gray;
  display: flex;
  justify-content: center;
  text-align: center;
}

.header__container-item-title {
  position: absolute;
  height: 62px;
  width: 288px;
  top: 176px;
  left: 16px;
  border-radius: nullpx;
  display: flex;
  justify-content: center;
  text-align: center;
}

.header__container-item-button1 {
  height: 32px;
  width: 129px;
  position: absolute;
  border-radius: 10px;
  font-size: 14px;
  background-color: black;
  color: white;
  top: 270px;
  left: 22px;
}

.header__container-item-button1:hover {
  height: 32px;
  width: 129px;
  position: absolute;
  border-radius: 10px;
  background-color: gray;
}

.header__container-item-button2 {
  height: 32px;
  width: 129px;
  position: absolute;
  border-radius: 10px;
  font-size: 14px;
  top: 270px;
  left: 126px;
  margin-left: 32px;
}

.header__container-item-button2:hover {
  height: 32px;
  width: 129px;
  position: absolute;
  border-radius: 10px;
  background-color: gray;
}

/*Estilos del main y sus articulos*/
.main__container-articule-1 {
  position: absolute;
  top: 320px;
  left: 33px;
}

.main__section {
  height: 3000px;
  width: 320px;
  /*Inicia sección 2 de los pianos blancos*/
}
.main__section .main__section-background-gray0 {
  position: relative;
  height: 800px;
  width: 320px;
  background: linear-gradient(0deg, #FFFFFF 0%, rgba(0, 0, 0, 0.75) 37.19%, rgba(0, 0, 0, 0.75) 76.04%, #FFFFFF 100%);
  top: -190px;
  z-index: 1;
}
.main__section .main__section-backgound1 {
  position: relative;
  top: 500px;
  z-index: 0;
}
.main__section .main__section-h2 {
  font-size: 24px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 200px;
  z-index: 2;
}
.main__section .main__section-backgound-gray1 {
  position: relative;
  top: 230px;
  left: 78px;
  z-index: 3;
}
.main__section .main__section-backgound-gray2 {
  position: relative;
  top: 60px;
  left: 30px;
  transform: rotate(0deg);
  z-index: 4;
}
.main__section .main__section-piano-cafe1 {
  position: absolute;
  top: 625px;
  z-index: 5;
}
.main__section .main__section-list > li {
  list-style: none;
  position: relative;
  top: 350px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.main__section .main__section-list-text1 {
  font-weight: 400;
  font-size: 24px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
}
.main__section .main__section-list-text2 {
  font-weight: 700;
  font-size: 12px;
  color: white;
}
.main__section .main__section-list-text3 {
  color: white;
  font-weight: 400;
  font-size: 24px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.main__section .main__section-list-text4 {
  color: gray;
  font-weight: 400;
  font-size: 16px;
}
.main__section .main__section-list-star {
  margin-left: 10px;
}
.main__section .main__section-list-text5 {
  position: relative;
  top: 380px;
  display: flex;
  justify-content: center;
  text-align: center;
  justify-content: space-around;
  color: white;
  font-size: 12px;
}
.main__section #Add-to-kart {
  height: 32px;
  width: 288px;
  position: absolute;
  border-radius: 10px;
  background-color: black;
  color: white;
  top: 60px;
  font-size: 14px;
}
.main__section #Add-to-kart:hover {
  background-color: gray;
}
.main__section .main__section-2-background-1 {
  position: absolute;
  top: 1295px;
}
.main__section .main__section-2-title {
  text-align: center;
  font-size: 24px;
  position: relative;
  top: -163px;
  font-weight: 400;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.main__section .main__section-2-small-white-background {
  position: relative;
  top: -180px;
}
.main__section .main__section-2-piano-blanco {
  position: relative;
  top: -620px;
  left: 50px;
}/*# sourceMappingURL=styles.css.map */