$primary-color: #000000;
$seconday-color: #FFBA60;

/*Colores para los botones*/
$color-button-active: #000900;
$color-button-hover: gray;

/*Colores del background*/
$backgound-color1:#000900;
$background-color2: white;

/*Color de texto botones*/
$color1-text-button: black;
$color2-text-button: white;

/*Desktop Font Styles*/

/*Desktop Font Mobil*/


/*Tama침o de los botones*/
$boton-tipo-1-height: 32px;
$boton-tipo-1-width: 129px;
$boton-tipo-2-height: 161px;
$boton-tipo-2-width: 36px;
$boton-tipo-3-height: 228px;
$boton-tipo-3-width: 32px;
$boton-tipo-4-height: 32px;
$boton-tipo-4-width: 288px;
$boton-tipo-5-height: 464px;
$boton-tipo-5-width: 32px;

/*Border radius bot칩n*/
$border-radius-type-1: 10px;


/*Posiciones*/
$position-A: absolute;
$position-R: relative;

/*Justificaci칩n de texto*/

$display:flex;
$justify-content: center;

/*Tama침o de texto*/
$font-size-1: 14px;
$font-size-2: 16px;




